#my-account
  = render partial: 'spree/shared/account_header', locals: {selected: :favourites}

  .account-my-favourites(data-hook="account_my_favourites")
    - if @favourites.present?
      = render partial: "spree/account/favourites/table", locals: {favourites: @favourites}
    - else
      %p= Spree.t(:you_have_no_orders_yet)
