#my-account
  = render partial: 'spree/shared/account_header', locals: {selected: :favourites}

  .account-my-favourites(data-hook="account_my_favourites")
    - if @favourites.present?
      = render partial: "spree/shared/user_favourites_table", locals: {favourites: @favourites}
      
      = paginate(@favourites)
    - else
      %p= Spree.t(:you_have_no_orders_yet)
