#my-account {

  #account-nav {
    margin: 0;
  }

  nav ul {
    list-style: none;
    margin-bottom: 0;

    li {
      background: #f0f0f0;
      margin: 0;
      padding: 10px 15px;
      display: inline-block;
    }

    li.selected {
      background: #d9d9db;
    }
  }

  .account-my-favourites {

    nav.pagination {
      margin-top: 10px;
    }

    table {

      width: 100%;

      th.favourite-image, td.favourite-image {
        width: 20%;
      }

      th.favourite-description, td.favourite-description {
        width: 35%;
      }

      th.favourite-price, td.favourite-price {
        width: 15%;
        text-align: center;
      }

      th.favourite-add-to-cart, td.favourite-add-to-cart {
        width: 40%;

        .not-available-message {
          min-height: 40px;
          line-height: 40px;
          vertical-align: middle;
        }
      }
    }
  }
}

@media screen and (max-width: '768px') {

  #my-account table {

    td.favourite-image {
      display: none !important;
    }

    th, td {
      width: 100% !important;
      display: block;
      text-align: center;
    }
  }
}
